@import "https://fonts.fontstorage.com/import/gilroy.css";
h1 {
    font-family: 'Gilroy';
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.logo {
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

p1 {
    font-family: 'Gilroy';
    display: flex;
    justify-content: center;
    color: rgb(202, 210, 216);
    margin-top: 10px;
}

.btn1 {
    text-align: center;
}

.theworld {
    justify-content: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: inline-block;
    text-decoration: none;
    margin-top: 40px;

    width: 175px;
    height: 35px;
    border-radius: 15px;
    background-color: blueviolet;
    border-color: blueviolet;
    font-family: 'Gilroy';
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    color: antiquewhite;
    
}

.theworld:hover {opacity: 0.7}

body {
    background-color: #252731;
}