@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

body {
    font-family: "Montserrat", serif;
    letter-spacing: 0.5px;
    background-color: #282831;
    overflow-x: hidden;
    margin: 0;
}

/* ---------------------------------header-------------------------------- */

header {
    display: flex;
    padding-bottom: 18px;
    margin-bottom: 18px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.123);
    background-color: #222229;
    user-select: none
}

header .logo {
    padding-top: 18px;
    padding-left: 15px;
    width: 36px;
    height: 36px;
}

header h1 {
    color: aliceblue;
    font-size: 12px;
    padding-top: 19px;
    padding-left: 12px;
}

/* ---------------------------------main-------------------------------- */

main {
    padding-left: 50px;
}

main p {
    text-align: center;
    color: rgb(202, 210, 216);
    margin-top: 12px;
    font-size: 1.5em;
}

/* ---------------------------------footer-------------------------------- */

footer {
    position: absolute;
    display: block;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: #4f4b5f;
    font-size: 0.6875em;
    padding: 5px 0;
    background-color: #201e25;
}

footer .main {
    height: 250px;
}
